body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

.main-content {
  height: 100%;
}

.login-submit-button {
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex !important;
}